<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="ListenerPageOfHerPower.ListenerPageOfHerPower"></listener> 
</listeners>
  <test thread-count="5" name="Test">
    <classes>
    
      <class name="TestCasesForDashboard.TestCaseForDashboardPage"/>
      <class name="TestCaseForCommonPage.TestCaseForSignUpPage"/>
      <class name="TestCaseForCommonPage.TestCaseForLoginPage"/>
      <class name="TestCaseForSellerPage.TestCaseForSellerHomePage"/>
      <class name="TestCaseForSellerPage.TestCaseForShopNowPage"/>
      <class name="TestCaseForSellerPage.TestCaseForProfileIconPage"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
